<div class="container text-center">
<div class="card text-center">
<h1>Edit Restaurant</h1>
</div>
<div class="card text-center">


<%= render "form", restaurant: @restaurant %>

</div>

<div class="card text-center">

<button><%= link_to "Back to list", restaurants_path %></button>
</div>
</div>
